.App {
	text-align: center;
}

.App-logo {
	/*animation: App-logo-spin infinite 20s linear;*/
	height: 70px;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}

.App-link {
	color: #61dafb;
}

.code {
	color: white;
	background-color: #333333;
	text-align: left;
	padding: 15px;
	border-radius: 15px;
}

.codeH1 {
	font-weight: bold;
	font-size: 16px;
}

.myCalendarClass .prevMonth {
	color: blue;
	background-color: pink;
	border-radius: 3px;
}

.myCalendarClass .nextMonth {
	color: yellow;
	background-color: green;
	border-radius: 3px;
}

.myCalendarClass .today {
	color: white;
	background-color: red;
	border-radius: 3px;
}

.st0 {
	font-family: 'Corbel';
}

.st1 {
	font-size: 30px;
}

.myMultipleCalendarClass .day {
	font-size: 10px;
}

.myMultipleCalendarClass .prevMonth {
	font-size: 10px;
}

.myMultipleCalendarClass .nextMonth {
	font-size: 10px;
}

.myMultipleCalendarClass .weekday {
	font-size: 10px;
}