.QuantrCalendar {
	background-color: #f1f1f1;
	color: black;
	padding: 10px;
	border-radius: 10px;

	.prevMonth {
		color: #cdcdcd;
	}

	.nextMonth {
		color: #cdcdcd;
	}

	.today {
		color: purple;
		background-color: #f9dfff;
		border-radius: 3px;
	}

	.arrowLeft {
		color: #ababab;
		cursor: pointer;
	}

	.arrowRight {
		color: #ababab;
		cursor: pointer;
	}
}